{% extends 'base.html.twig' %}

{% block title %}Expire{% endblock %}

{% block body %}

    <h1>Your link is expired. Please type your email one more time.</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}

        <button type="submit" class="btn">Send again</button>
    {{ form_end(form) }}
{% endblock %}
