{% extends 'base.html.twig' %}

{% block title %}Invite{% endblock %}

{% block body %}

    <h1>Invite a friend</h1>
    <p>Type bellow an your friend email and we will send him an inviting email.</p>

    {{ form_start(form) }}
    {{ form_row(form.email) }}

    <button type="submit" class="btn">Invite friend</button>
    {{ form_end(form) }}
{% endblock %}