{% extends 'base.html.twig' %}

{% block title %}Send email{% endblock %}

{% block body %}

    <h1>Type your account email</h1>
    <p>Type bellow your account email and then we send you the link to change a password</p>

    {{ form_start(form) }}
    {{ form_row(form.email) }}

    <button type="submit" class="btn">Send email</button>
    {{ form_end(form) }}
{% endblock %}